---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: required

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - pip install ansible

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

script:
  # Basic role syntax check
  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check

  # role install check
  - idempotence=$(mktemp)

  # run first role
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo

  # re-run role to check idempotence
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/